[Main]
## Where the files to process are located. (~ will be expanded to your home directory)

# input_root_dir = ~/ProcessDir

## Where your processed files should be placed. This could be the same directory.

# output_root_dir = ~/OutputDir/Path

## A text file listing the files to process. Each file must be on its own line.
## The full path
## Files should have their full path. They may use ~ to indicate the home directory.
## This file should be located in the input_root_dir directory.

# file_list = fileList.txt

## The following three sections are groupings for when to run tasks.
## Replacement variables can be used and will be replaced when processing occurs. Use {variable_name}.
## For directory variables you don't need to add a trailing '/'.
## Currently to run multiple tasks in a grouping tehy need to be joined together with &&
[PreTasks]
## Task to run once before processing all files.
## Available variables:
## 	input_root_dir : Base directory for input files.
## 	output_root_dir : Base directory for output files.
##  No variables are vailable for specific files are this occurs before file processing.

# command =
# 	echo "Ready to Go!" &&
# 	preProcessCommand {input_root_dir} {output_root_dir}

[Tasks]
## Task to run once for each file.
## Available variables:
## 	input_root_dir : Base directory for input files.
## 	input_file : The name of the input file without the directory.
## 	input_dir : The full directory of the input file without the name.
## 	input_rel_dir : The input file path relative to the root dir.
## 		For example, if the input_root_dir is /home/user/Files, and the input_dir is /home/user/Files/toProcess/, this will be toProcess/
## 	input_full_path : The input file with the full directory and name.
## 	output_root_dir : Base directory for output files.
## 	output_rel_dir : The output path relative to the root dir. See input_rel_dir.
## 	output_file : The name of the output file without the directory.
## 	output_dir : The full directory of the output file without the name.
## 	output_base_file : The output filename without an extension.
## 		For example, if the filename is 'photo.jpg', this will be 'photo'
## 	output_full_path : The output file with the full directory and name.

# per_file_task =
#      mkdir -p {output_dir} &&
#      ProcessingCommand --fixed-option ~/Fixed/configFile.json -i "{input_full_path}" -o "{output_full_path}" &&
#      followingCommand -i "{input_full_path}" -o "{output_dir}extradir/{output_base_file}.ext"

[PostTasks]
## Tasks to run once after processing files.
## A current limitation is you can't say 'sftp ... <<< sftp_command
## Available variables:
## 	input_root_dir : Base directory for input files.
## 	output_root_dir : Base directory for output files.
## 	No variables are vailable for specific files are this occurs after file processing.

# command =
# 			postProcessCommand {output_root_dir} &&
# 			anotherCommand {output_root_dir}
